@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap');

* {
  box-sizing: border-box;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #22343D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #22343D;
}

.container {
  /* задать ширину и выровнять по середине */
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* строка */
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  padding: 0 10px;
}

.col-1 {
  flex: 8.3% 0 0;
}

.col-2 {
  flex: 16.6% 0 0;
}

.col-3 {
  flex: 25% 0 0;
}

.col-4 {
  flex: 33.3% 0 0;
}

.col-5 {
  flex: 41.6% 0 0;
}

.col-6 {
  flex: 50% 0 0;
}

.col-7 {
  flex: 58.3% 0 0;
}

.col-8 {
  flex: 66.6% 0 0;
}

.col-9 {
  flex: 75% 0 0;
}

.col-10 {
  flex: 83% 0 0;
}

.col-11 {
  flex: 91.6% 0 0;
}

.col-12 {
  flex: 100% 0 0;
}


h1 {
  font-size: 40PX;

}

h2 {
  font-size: 34px;

}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 16px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;

}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;


}

.container {
  max-width: 987px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: baseline;
}

.navbar {
  padding: 15px 0;

}

.navbar a.sign-in {
  border: 1px solid #02897A;
  padding: 15px 35px;
  border-radius: 4px;
  margin-left: 15px;
  font-weight: 700;

}

.navbar a.sign-up {
  border: 1px;
  background-color: #02897A;
  color: white;
  border-radius: 4px;
  padding: 15px 35px;
  margin-left: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.navbar img.mini-logo {
  border-radius: 50%;
  background-color: rgb(243, 240, 240);
}

.navbar a.product {
  font-weight: 700;
  margin-left: 25px;
}

.col-6 img.people {
  margin-top: 30px;
  width: 473px;
}


.col-6 h1.h1-class {

  font-size: 40px;

  font-weight: 900;

}

.margin {
  margin-top: 70px;
}


.col-6 p.p-class {
  font-size: 15px;
  line-height: 28px;
}

.p-class {
  font-size: 15px;
  line-height: 28px;
}

.h1-class {
  font-size: 40px;

}

.button {

  background-color: #02897A;
  color: white;
  border-radius: 4px;
  padding: 15px 40px;
  margin-top: 50px;
  font-weight: 700;
  text-decoration: none;
}

.line {
  color: #02897A;
  font-weight: 700;
  background-color: none;
  padding: none;
}

.treg {
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 0px;
}

.h1-class.alight {
  text-align: center;
  line-height: 48px;
  margin-bottom: 50px;
  margin-top: 30px;

}

.icon {
  font-size: 22px;
  font-weight: 600;
}

.icon-p {
  font-size: 16px;
  line-height: 26px;
  color: #22343D;

}

.button.center {
  text-align: center;
  border: none;
  margin-left: 580px;
  margin-bottom: 200px;

}

.image {
  background-image: url(img/Bg\ \(1\).png);
}

.col-6 p.p-mini {
  font-size: 16px;
  margin-left: 30px;

  max-width: 385px;

}

.col-6 .evenly {
  display: flex;
  justify-content: flex-start;

  align-items: center;

  position: relative;
}

.p-class.p-alight {
  text-align: center;
}

.card.card-horizonal {
  display: flex;
  margin-top: 35px;
}

.card .card-content {
  padding: 8px 25px;
  border-radius: 30px;
  margin-left: 25px;
  color: black;
  margin-right: 25px;
  font-size: 16px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
}

.card {
  margin: 10px;

}

.button.centerr {
  text-align: center;
  border: none;
  margin-left: 580px;
  margin-bottom: 35px;

}

.card .card-image {
  width: 100%;
  border-radius: 8px;
}

.col-4 h4.green {
  color: #02897A;
  font-weight: 00;
}

.col-4 h4 {
  font-weight: 700;
}


.bg {
  background-image: url(img/Bg\ \(3\).png);
  margin-top: 30px;
  background-repeat: no-repeat;
}


.circle {
  display: flex;
  justify-content: center;


}

.circle div {
  align-items: center;
  width: 14px;
  height: 14px;

  background-color: #EFEFEF;
  border-radius: 100%;
  margin: 5px;
}

.circle .circle-green {
  background-color: #02897A;
}

.p-alight {
  text-align: center;
}

.h2-alight {
  text-align: center;
}

.weight {
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.card-price {
  text-align: center;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 289px;
  padding-top: 20px;
  padding-bottom: 24px; 
}


.price span{
  font-size: 75px;
  color: #02897A;
  font-weight: 700;
}

.card.card.card-price a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: #02897A;
  border-radius: 8px;
  padding: 12px 25px;
 
}

.price .dollar{
  color: #02897A;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  margin: 5px;
}

.price .grey{
  color:  #AFAFAF;;
}

.card.card-price span.five{
  color: white;
} 

.card.card-price.back{
  background-color: #02897A;
  color: white;
}

.card.card-price.back h4{
  color: white;
}

.card.card-price.back .dollar{
  color: white;
}

.card.card-price.back a{
  color:#02897A;
  background-color: white;
}

.card.card-price .ppp{
  margin-bottom: 49px;
}


.designer{
  display: flex;
}

.designer .margin-left{
  margin-left: 14px;
}

.card .p-content{
  color:#737373;
  line-height: 28px;
}

.designer .wahid{
  color: #02897A;
  font-weight: 600;
  font-size: 16px;
}