@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap');
*{
    box-sizing: border-box;
}



body{
    font-family: 'Poppins', sans-serif;;
}

  .container { /* задать ширину и выровнять по середине */
    max-width: 980px;
    margin: 0 auto;
  }
  .row { /* строка */
    display: flex;
    flex-wrap: wrap;
  }
  [class^="col"] {
    padding: 0 10px;
  }
  .col-1 {
    flex: 8.3% 0 0;
  }
  .col-2 {
    flex: 16.6% 0 0;
  }
  .col-3 {
    flex: 25% 0 0;
  }
  .col-4 {
    flex: 33.3% 0 0;
  }
  .col-5 {
    flex: 41.6% 0 0;
  }
  .col-6 {
    flex: 50% 0 0;
  }
  .col-7 {
    flex: 58.3% 0 0;
  }
  .col-8 {
    flex: 66.6% 0 0;
  }
  .col-9 {
    flex: 75% 0 0;
  }
  .col-10 {
    flex: 83% 0 0;
  }
  .col-11 {
    flex: 91.6% 0 0;
  }
  .col-12 {
    flex: 100% 0 0;
  }
  
  
.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}
.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;


}
.container {
    max-width: 987px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar {
    padding: 15px 0;

}

.navbar a.sign-in {
    border: 1px solid  #02897A;
    padding: 15px 35px;
    border-radius: 4px;
    margin-left: 15px;

}

.navbar a.sign-up{
    border: 1px ;
    background-color: #02897A;
    color: white;
    border-radius: 4px;
    padding: 15px 35px;
    margin-left: 15px;

}

.navbar img.mini-logo{
    margin-left: -180px;
 
    
    padding: 15px 15px;
    border-radius: 50%;
    background-color: rgb(243, 240, 240);
}